
<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['pk.eyJ1IjoibWFya3ByaWNldHJpIiwiYSI6ImNra3NmZTM1NTBjdGEyd3BscG1zZWlnZ24ifQ.5xJpq9oHZGqMGO6WmgJ_7w'] %>"></div>


<% if policy(Bike).create? %>
  <%= link_to "Upload a bike", new_bike_path %>
<% end %>

<% @bikes.each do |bike| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path bike.photo.key, height: 300, crop: :fill %>')">
    <div>
      <p><%= bike.make %></p>
      <p><%= bike.model %></p>
    </div>
    <% if policy(bike).edit? %>
      <%= link_to "Edit", edit_bike_path(bike) %>
    <% end %>
  </div>
<% end %>
